@import '../../../styles/variables';

h1 {
    color: $color-white;
}

button {
    color: $color-white;
    text-align: center;
    width: 12%;
    background-color: $color-bg;
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 23px;
    border-color: $color-turqoise;
    animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn {
    from {
        box-shadow: 0.5px 0.5px 1px 3px $color-turqoise;
    }
    to {
        box-shadow: 0.5px 0.5px 1px 1px $color-turqoise;
    }
}

.main {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}