@import '../../../styles/variables';

h1 {
    color: $color-white;
}

button {
    color: $color-white;
    text-align: center;
    width: 12%;
    background-color: $color-bg;
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 23px;
    border-color: $color-turqoise;
    animation: fadeIn 4s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        box-shadow: 0px 0.5px 8px 3px $color-turqoise, 0px 0px 15px 1px;
    }
    50% {
        box-shadow: 0px 0.5px 6px 2px $color-turqoise, 0px 0px 10px 2px transparent;
    }
    100% {
        box-shadow: 0px 0.5px 8px 3px $color-turqoise, 0px 0px 15px 1px transparent;
    }
}

.main {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}